<section data-ng-controller="CredentialsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Credential</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="credential.description" id="name" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="ref">Ref code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="credential.ref" id="name" class="form-control" placeholder="Ref code" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="level">Level</label>
                    <div class="controls">
                        <select class="form-control"
                            ng-model="level"
                            ng-options="value as value.name for value in levels track by value._id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>