<section data-ng-controller="CredentialsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Credentials</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="credential in credentials" data-ng-href="#!/credentials/{{credential._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="credential.created | date:'medium'"></span>
				by
				<span data-ng-bind="credential.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="credential.description"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!credentials.$resolved || credentials.length">
    	No Credentials yet, why don't you <a href="/#!/credentials/create">create one</a>?
    </div>
</section>