<section data-ng-controller="CredentialsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="credential.description"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == credential.user._id)) || (!credential.user._id)">
		<a class="btn btn-primary" href="/#!/credentials/{{credential._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="credential.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="credential.user.displayName"></span>
		</em>
	</small>
	<div class="clearfix"></div>
	<p>
		<table class="table table-striped">
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Ref code</td>
				<td>{{credential.ref}}</td>
			</tr>
			<tr>
				<td>Level</td>
				<td>{{credential.level.name}} - Priority: {{credential.level.order}}</td>
			</tr>
			<tr>
				<td>Token</td>
				<td>{{credential.token}}</td>
			</tr>
			<tr>
				<td>Key</td>
				<td>{{credential._id}}</td>
			</tr>
		</table>
	</p>
</section>
